body{
    background-color: beige;
    font-size: 2em;
    color:rgb(106, 99, 114);
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color:rgb(65, 11, 11);
    text-shadow: 2px 3px 3px yellowgreen;
    font-size: 1em;
    font-style: italic;
}
