*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-image: url(WEB_DEVELOPMENT/technology1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.box{
    padding: 20px 30px;
    width:400px;
    height:400px;
    backdrop-filter: blur(50px);
    border-radius: 5px;
    background: rgba(49, 49, 49, .2);
    border:1px solid rgba(255, 255, 255, .5);
}

.box .form{
    padding: 10px 20px;
}
.box .form h2{
    text-align: center;
    color:#fff;
}
.box .form form{
    margin-top: 50px;
    align-items: center;

}

.box .form form .inputbox input{
    padding: 15px 10px;
    border:none;
    outline: none;
    background: none;
    border-bottom: 1px solid #12151e ;
    margin-bottom: 15px;
    color:#fff;
}
.box .form form .inputbox span{
    position:absolute;
    transform: translateX(-130px);
    font-size: 14px;
    color:#fff;
}
.box .form form .sub{
    padding: 10px 20px;
    color:#fff;
    border:none;
    outline:none;
    background: #0cc0df;
    cursor: pointer;
    font-size: 16px;
    transform: translateX(40px);
}