body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(194, 189, 189);
    height:100vh;
}

h1{
    color:rgb(63, 127, 255);
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px 10px hsla(0, 0%, 0%, 0.306);
    margin-bottom: 15px;
    max-height: 50%;
}
#textbox{
    width:50%;
    text-align: center;
    max-width: 350px;
    font-size: 2em;
    border:2px solid hsla(0, 0%, 0%, 0.803);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.1em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgba(219, 36, 36, 0.868);
    font-size: 1.5em;
    border:none;
    padding:10px 15px;
    border-radius: 5px;
    color:white;
    cursor:pointer;
}

button:hover{
    background-color: hsla(0, 100%, 50%);
}
#result{
    font-size: 1.5em;
    font-weight: bold;
}

