/* Updated task-manager.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%; /* Fills 3/4 of the screen width */
    margin: 0 auto; /* Centers the container horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 100%;
}

.heading_img {
    width: 100%; /* Takes half of the space in its container */
    max-width: 800px; /* Limits the maximum width of the image */
    margin-bottom: 20px; /* Adds space below the image */
}

h1 {
    color: #333;
    margin: 0;
    font-size: 1.5rem;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}


