body{
    background-color: rgba(92, 242, 239, 0.39);
}
h1{
    color:rgba(14, 14, 98, 0.678);
    font-size: 1.3em;
}
h4{
    color:rgb(66, 62, 62);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#a{
    background-color: aliceblue;
    display: inline-block;
    border:2px solid rgb(199, 219, 199);
    margin:20px;
    padding:20px;
    width:50%;
    height:20%;
    
    
}
#b{
    background-color: aliceblue;
    display:block;
    border:3px dotted rgba(0, 0, 255, 0.303);
    margin:20px;
    padding:20px;
    width:50%;
    height:20%
    
    
}
#c{
    background-color: aliceblue;
    display:inline-block;
    border:3px dashed rgb(155, 213, 153);
    margin:20px;
    padding:20px;
    width:50%;
    height:20%;
}
#d{
    background-color: aliceblue;
    display: inline-block;
    border: 2px solid rgba(126, 126, 167, 0.329);
    margin:20px;
    padding:20px;
    width:50%;
    height:20%;
}