*{
    box-sizing:border-box;
}
body{
    margin:0px;
}
header{
    text-align: center;
    background-color:rgb(195, 190, 190);
    padding: 25px;
}
.navbar{
    height:50px;
    background-color:rgb(105, 102, 102);
}
aside{
    width:20%;
    float:left;
    padding:10px;
}
section{
    width:40%;
    float:left;
    padding: 10px;
}
article{
    width:40%;
    float:left;
    padding: 10px;
}
footer{
    text-align: center;
    background-color:rgb(195, 190, 190);
    padding: 25px;
    clear:both; 
}
@media screen and(max-width:600px) {
    aside, section, article{
        width:100%;
    }  
}