body {
    background-color: rgba(35, 166, 140, 0.817);
    height: 60vh;
}

#container {
    display: flex; /* Already set to flex */
    box-sizing: border-box;
    justify-content: space-around; /* Keeps elements spaced out evenly */
    align-items: stretch; /* Changes from start to stretch to fill the container height */
    height: 100%; /* Set the height of the container to fill its parent */
    padding: 10px;
}

h1 {
    color: rgba(14, 14, 98, 0.678);
    font-size: 1.3em;
}

h4 {
    color: rgb(66, 62, 62);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#a, #b, #c, #d {
    background-color: white;
    border: 2px solid rgb(199, 219, 199);
    text-align: center;
    margin:2px;
    width: 100%; /* Ensure each box uses the full width provided by the flex container */
    flex-grow: 1; /* Allows boxes to grow to fill available space */
}